---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Bio from "../components/Bio.astro";
import Project from "../components/Project.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Hello! I'm Galih Erlangga">
	<main>
		<Hero />
		<div class="m-auto p-28 w-3/4 text-gray-300">
			<Bio />
			<Project />
			<Contact />
		</div>
	</main>
</Layout>
