<div class="flex" id="bio">
    <div class="w-1/3">
        <img
            src="/img/circle-profile.png"
            alt="circle-profile"
            srcset=""
            class="w-48 h-48"
        />
    </div>
    <div class="w-2/3 text">
        <h2 class="text-4xl mb-10">BIO</h2>
        <p class="text-lg text-gray-400">
            I am a skilled backend programmer with expertise in building robust
            and scalable web applications. With several years of experience in
            the industry, I have a deep understanding of backend technologies
            and frameworks, including but not limited to Node.js, Express,
            Django, and Laravel.
            <br />
            <br />
            My passion lies in designing efficient database structures and writing
            optimized code to ensure seamless performance. I thrive in problem-solving
            and enjoy tackling complex challenges to create elegant and efficient
            solutions.
            <br />
            <br />
            Throughout my career, I have worked on various projects, collaborating
            with cross-functional teams to deliver high-quality software products.
            I am highly proficient in RESTful API development, database management,
            and version control systems such as Git.
            <br />
            <br />
            I am constantly exploring new technologies and staying up-to-date with
            industry trends to enhance my skills and provide innovative solutions.
            I am dedicated, detail-oriented, and committed to delivering reliable
            backend solutions that meet client requirements and exceed expectations.
        </p>
    </div>
</div>
