<div class="my-100 text-center" id="contact">
    <h2 class="text-4xl mb-10 font-bold">Get In Touch</h2>
    <p class="w-2/3 mx-auto mb-16 leading-8">
        Ready to make magic happen? Let's connect and bring your web dreams to reality! 
        Whether you want to discuss a project, explore new opportunities, or simply geek out about the latest web technologies, 
        I'm just a click away. Connect with me using the links below and let's dive into the exciting world of pixels and code. 
        Don't be shy, reach out today and let's create something extraordinary together!
    </p>
    <h3 class="text-2xl mb-6">Contact Me</h3>
    <div class="flex justify-between mx-auto">
        <p>
            <i class="fa fa-phone text-xl mr-2"></i>08814733125 | 085156077059
        </p>
        <p>
            <a href="mailto:galiherlanggadev@gmail.com">
                <i class="fa fa-envelope text-xl mr-2"></i>galiherlanggadev@gmail.com
            </a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/galih-erlangga/">
                <i class="fab fa-linkedin text-xl mr-2"></i>Galih Erlangga</a
            >
        </p>
        <p>
            <a href="https://github.com/galiherlangga">
                <i class="fab fa-github text-xl mr-2"></i>Galih Erlangga
            </a>
        </p>
    </div>
</div>
