---
import Card from "./Card.astro";
---

<div class="my-32" id="project">
    <div class="mb-10">
        <h2 class="text-4xl font-bold text-center">Projects</h2>
    </div>
    <div>
        <ul class="flex justify-between">
            <Card
                title="Chronicle"
                body="Building an online cemetery management website using Django, providing cemetery administrators and visitors with a user-friendly platform. Key features include graveyard mapping, burial record management, online reservation, and digital memorials. The website ensures secure data storage and leverages Django's scalability and maintainability. It streamlines cemetery administration, improving the overall experience for administrators and visitors."
                href="https://google.com"
            />
            <Card
                title="Kanesa"
                body="Developed a warehouse management system for a Japanese company, using Laravel, Nuxt, and MySQL. It streamlined inventory management, order fulfillment, and logistics coordination. Advanced features like real-time tracking and automated reporting improved efficiency. With close collaboration, I tailored the system to their needs, adhering to industry standards. Leveraging Laravel and Nuxt, it offered efficient backend and responsive frontend. The deployed system optimized processes and improved productivity."
                href="https://google.com"
            />

            <Card
                title="Sagami"
                body="Developed a parking lot management system for a Japanese company, utilizing Laravel, Nuxt, and MySQL. My responsibilities included creating new pages and updating existing ones based on client specifications. This comprehensive system facilitated efficient parking lot management and improved user experience. Leveraging Laravel for the backend and Nuxt for the frontend, the system offered seamless integration and enhanced performance. The MySQL database ensured reliable data storage and retrieval."
                href="https://google.com"
            />
        </ul>
    </div>
</div>
